<div class='row'>
	<h1>Welcome to the Book Club!</h1>

	<h2>All the fun of a book club virtually</h2>


	<%= link_to image_tag("http://www.impublications.com/sites/default/files/books.jpg"), new_book_path %>
	<p>Click to add new book</p>

	
	<%= form_tag search_books_path, method: :get do %>
	  <%= search_field_tag :q, params[:q] %>
	  <%= submit_tag "Search" %>
	<% end %>
	<p>Search for Books by Author or Title</p>
	<br/>


	<p>Please see below for a list of all books:</p>
	<% @books.each do |book| %>
		<section>
			<h3><%= link_to book.title, book %></h3>
			<h4><%= book.author%> | <%= link_to 'Buy Me!', book.amazon_search_url, target: '_blank' %></h4>
			<p><%= book.description %></p>
			<% if user_signed_in? %>
			<%=link_to 'Delete', "/books/#{book.id}", method: :delete %>
			<% end %>
		</section>
		<hr/>
	<% end %>
</div>




<!-- 
http://getbootstrap.com/css/#buttons -->



