<h1><%= @book.title %></h1>
<h3>by <%= @book.author %></h3>
<h4>added by <%= @book.user.email %></h4>
<h4><%= link_to 'Buy Me!', @book.amazon_search_url, target: '_blank' %></h4>


<% if user_signed_in? %>

<h3>Add a comment</h3>

<%= form_for [@book, @comment] do |f| %>
	<%= f.text_area :body %><br />
	<%= f.submit %>
<% end %>
<% else %> 
<p>Sign in or sign up to comment! </p>
<% end %>
<p><%= link_to "Back to home page", root_path %></p>

<hr />
<% if @book.comments.empty? %>
<p> No comments yet :(</p>
<% else %>
	<%@book.comments.each do |comment| %>
		<p><%= comment.body %></p>
		<hr/>
	<% end %>

<% end %>